@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://www.containerisedcargo.co.za/images/slider/abnormal_lowbed_services_1.jpg" alt="Chania">
            <div class="carousel-caption">
                <h3>Maersk Line</h3>
                <p>largest operating unit of the A.P. Moller – Maersk Group</p>
            </div>
        </div>

        <div class="item">
            <img src="http://www.sgkglobal.com/wp-content/uploads/2014/06/banner2.jpg" alt="Chicago">
            <div class="carousel-caption">
                <h3>World's Largest Logistic Company</h3>
                <p>374 offices in 116 countries</p>
            </div>
        </div>

        <div class="item">
            <img src="http://www.horseservice.com/wp-content/uploads/2015/11/team.jpg" alt="New York">
            <div class="carousel-caption">
                <h3>Expert in Logistic</h3>
                <p>7,000 sea farers and approximately 25,000 land-based people</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec risus nisl. Praesent at quam rhoncus
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more details</h2>
        <p>Cras lobortis aliquam lorem sit amet porta. Aliquam ac orci tellus. Phasellus ut volutpat libero. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detail Pricing</h2>
        <p>Mauris porttitor vehicula libero. Mauris nec lectus gravida, bibendum lorem id, accumsan turpis. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>


